.menu-area{
  background-color: #d8c0c0 !important;
  height:100px !important;
}
.container{
  background-color:  rgb(133, 133, 133);
  position: absolute;
  width: 100% !important;
    display: flex;

  .header-left{
    // display: flex;
    width: 100%;
    .main-nav{
      // display: flex;
      ul {
        display: flex;
      }
    } 
  }
}
